@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  max-width 1000px
  font-family 'Roboto', sans-serif
  .panel
    float left
    width 1000px
    .header
      padding-left 40px
      color white
      h2
        margin 0px
        padding 25px 0px
        font-size 32px
        font-weight 100
      h3
        margin 0px
        padding-bottom 20px
        font-weight 700
        text-transform uppercase
    .content
      width 100%
      height 100%
      float left
      position relative
      padding 40px 40px
      .left-column
        float left
        margin-right 40px
        svg.us-map
          g.states
            path.state
              fill white
          path.border
            fill none
            stroke-width 1
      .right-column
        float left
      p.explainer
        margin-top 30px
        max-width 300px
    &.generic
      background #EFEBE9
      .header
        box-shadow 0px 0px 3px 2px #3E2723
        background #3E2723
      .left-column
        svg.us-map
          path.border
            stroke #8D6E63
          g.states path.state.active
            fill #795548
      .fixed-header
        position absolute
        left 524px
        top 40px
        width 419px
        background #4E342E
        color white
        box-shadow #4E342E 0px 2px 3px 0px
        div
          width 33%
          float left
          background #4E342E
          color white
          text-align center
          padding 9px 8px 2px 8px
          font-weight bold
      .right-column
        float right
        position relative
        max-height 400px
        overflow-x hidden
        overflow-y auto
        table
          width 420px
          margin-right 16px
          border-collapse collapse
          border-bottom 3px solid #4E342E
          thead
            th
              background #4E342E
              color white
              text-align center
              padding 9px 8px 2px 8px
              box-shadow #3E2723 0px 2px 3px 0px
          tbody
            td
              padding 0px 8px
              height 66px
              text-align center
              .date
                float left
                width 100%
                line-height 66px
                text-align center
              img
                width 50px
                height 50px
                border-radius 50%
                border 2px solid #303F9F
                margin 3px 2.5px
                &:nth-child(2)
                  transform scale(0.8)
              img + .date
                display none
              &:last-child img
                border-color #D32F2F

            tr:first-child td
              border-top 10px solid transparent
            tr:nth-child(even) td
              background #D7CCC8
            tr.active td
            tr td.active
              background #A1887F
              color white
            tr:nth-child(even).active td
            tr:nth-child(even) td.active
              background #8D6E63

    &.party
      .right-column
        float left
        width 450px
        margin-left 130px
        position relative
        ul
          list-style-type none
          margin 0px
          padding 0px
          position relative
          max-width 100%
          height 300px
          overflow-x hidden
          li
            opacity 1
            transition opacity 0.4s, left 0.4s
            &.hidden
              opacity 0
              pointer-events none
            position absolute
            padding 0px
            float left
            width 149px
            margin-right 1px
            .img
              text-align center
              img
                width 110px
                height 110px
                margin-top 20px
                border-radius 50%
                border 2px solid white
            h4
              margin 0px
              text-align center
              padding 11px 0px
              font-size 16px
              font-weight 400
            .delegates
            .votes
              text-align center
              font-weight 300
              font-size 16px
              padding 7px 0px
            .delegates
              font-size 20px
              padding 10px 0px
        .fixed-header
          position absolute
          left -120px
          top 0px
          width 120px
          div
            text-align right
            padding-right 20px
            color white
            font-weight 400
            &:first-child
              margin-top 176px
              padding-top 12px
              padding-bottom 8px
            &:last-child
              padding-top 8px
              padding-bottom 6px

      &.democrats
        background #E8EAF6
        .header
          box-shadow 0px 0px 3px 2px #1A237E
          background #1A237E
        svg.us-map
          path.border
            stroke #5C6BC0
          g.states path.state.active
            fill #3F51B5
        .right-column
          ul
            li
              .img img
                border-color #C5CAE9
              .img
              h4
                background #283593
                color white
              .delegates
              .votes
                color darken(#1A237E, 40%)
              .delegates
                background #9FA8DA
              .votes
                background #C5CAE9
          .fixed-header
            div
              &:first-child
                background #3F51B5
              &:last-child
                background #5C6BC0

      &.republicans
        background #FFEBEE
        .header
          box-shadow 0px 0px 3px 2px #B71C1C
          background #B71C1C
        svg.us-map
          path.border
            stroke #EF5350
          g.states path.state.active
            fill #F44336
        .right-column
          ul
            li
              .img img
                border-color #FFCDD2
              .img
              h4
                background #C62828
                color white
              .delegates
              .votes
                color darken(#B71C1C, 40%)
              .delegates
                background #EF9A9A
              .votes
                background #FFCDD2
          .fixed-header
            div
              &:first-child
                background #F44336
              &:last-child
                background #EF5350
